/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .bg-container {
    max-width: 1110px;
  }
}

.category-container {
  min-height: 100vh;
  padding: 50px;
  padding-bottom: 50px;
  background-color: black;
}

.img-prime-video {
  width: 100%;
}

.category-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  text-align: left;
  padding-top: 5px;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 32px;
  margin-bottom: 26px;
}
